@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::selection{
    background: rgb(0,123,255,0.3);
}
.content{
    max-width: 1250px;
    margin: auto;
    padding: 0px 30px;
}
/* ==================================== Navigation */
.navbar{
    position: fixed;
    z-index: 5;
    width: 100%;
    padding: 25px 0;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 10px 0;
    background: #1b1b1b;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
    }
.navbar .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
}
.navbar .menu-list{
    display: inline-flex;
}
.menu-list li{
    list-style: none;
}
.menu-list li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    text-decoration: none;
    transition: all 0.3s ease;
}
.menu-list li a:hover{
    color: #007bff;
}
.banner{
    height: 100vh;
    background: linear-gradient(to right bottom, #89ABE3, rgb(172, 210, 237));
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.about{
    padding: 40px 0;
} 
.about .title{
    font-size: 35px;
    font-weight: 700;
}
.about p{
    padding-top: 20px;
    text-align: justify;
}
.icon{
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
}
.icon.cancel-btn{
    position: absolute;
    right: 30px;
    top: 20px;
}
.navbar.sticky .icon.cancel-btn{
    top: 10px;
}
@media (max-width: 868px) {
    body.disabledScroll{
        overflow: hidden;
    }
    .icon{
        display: block;
        height: 50px;
        width: 50px;
        text-align: center;
        line-height: 50px;
        border-radius: 50%;
        z-index: 9;
    }
    .icon.cancel-btn{
        display: none;
    }
    .icon.cancel-btn.show{
        display: block;
    }
    .icon.hide{
        display: none;
    }
    .navbar .menu-list{
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        background: #222;
        display: block;
        padding: 40px 0;
        text-align: center;
        clip-path: circle(25px at calc(100% - 55px) calc(0% + 50px));
        transition: all 0.3s ease;
    }
    .navbar.sticky .menu-list{
        clip-path: circle(25px at calc(100% - 55px) calc(0% + 35px));
    }
    .navbar .menu-list.active{
        clip-path: circle(75%);
    }
    .navbar .menu-list li{
        margin-top: 45px;
    }
    .navbar .menu-list li a{
        font-size: 23px;
    }
}
/* ========================== /Navigation */
/*============================ Home page content */
.banner-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider {
    margin-top: 120px;
}
.home-content h1 {
    color: whitesmoke;
    margin-bottom: 10px;
}
.btn {
    padding: 5px;
    background-color: rgba(245, 245, 245, 0.347);
    border-radius: 10px;
    text-decoration: none;
    color: #C5FAD5;
}
/* Slider */
.slider{
    width: 100%;
    max-width: 100vw;
    height: 500px;
    /* margin: auto; */
    position: relative;
    overflow: hidden;
    border-radius: 0 0 25px 25px;
}
.slider .list{
    position: absolute;
    width: max-content;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    transition: 1s;
}
.slider .list img{
    width: 100%;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
}
.slider .buttons{
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.slider .buttons button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff5;
    color: #fff;
    border: none;
    font-family: monospace;
    font-weight: bold;
}
.slider .dots{
    position: absolute;
    bottom: 10px;
    left: 0;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.slider .dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s;
}
.slider .dots li.active{
    width: 30px;
}
@media screen and (max-width: 768px){
    .slider{
        height: 400px;
    }
    .banner-content {
        flex-direction: column;
    }
}
/* ========================= /Home page Content */

/* ========================== Services */

/* Product */

/* Promotion */
.text{
    padding:40px;
    background:#eee;
}

.text h3{
    text-align: center;
    /* text-transform: uppercase; */
    font-size: 30px;
    padding:10px;
}

.promo-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.promo-container .promo{
    background:linear-gradient(-55deg, #C5FAD5 29%, #89ABE3 29.1%, #89ABE3 68%, #C5FAD5 68.1%);
    border-radius: 5px;
    margin:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0 5px 10px #0005;
    overflow: hidden;
}

.promo-container .promo .product{
    flex:1 1 250px;
    padding:15px;
    text-align: center;
}

.promo-container .promo .product img{
    width:80%;
}

.promo-container .promo .content{
    flex:1 1 250px;
    text-align: center;
    padding:10px;
    /* text-transform: uppercase; */
}

.promo-container .promo .content span{
    color:#eee;
    font-size: 25px;
}

.promo-container .promo .content h3{
    color:#fff;
    font-size: 40px;
}

.promo-container .promo .content p{
    color:#eee;
    font-size: 20px;
    padding:10px 0;
}

.promo-container .promo .content .btn{
    display: block;
    height:40px;
    width:150px;
    line-height: 40px;
    background: #fff;
    color:black;
    margin:5px auto;
    text-decoration: none;
}

.promo-container .promo .product-2{
    position: relative;
    bottom: -33px;
    padding:10px;
    flex:1 1 250px;
}

.promo-container .promo .product-2 img{
    width:100%;
}

@media (max-width:768px){
    .promo-container .promo .product-2{
        display: none;
    }
}

/* ======================================= Shop */

.shop-banner {
    height: 50vh;
    background: linear-gradient(to right bottom, #89ace3cc, rgba(172, 210, 237, 0.296)), url(/img/shop/shop-banner.png);
    background-attachment: fixed;
}
html.product-page {
    font-size: 62.5%;
    overflow-x: hidden;
} 
/* Search and Filtering */
.wrapper {
    /* width: 95%; */
    /* margin: 0 auto; */
}
.filter {
    padding-top: 200px;
    padding-left: 300px;
}
#search-container {
    margin: 1em 0;
}
#search-container input {
    border: none;
    border-radius: 25px;
    background-color: rgba(245, 245, 245, 0.618);
    width: 40%;
    border: 1px solid #110f298d;
    padding: 1em 0.3em;
}
#search-container input:focus {
    border-bottom-color: #6759ff;
}
#search-container button {
    padding: 1em 2em;
    margin-left: 1em;
    background-color: #6759ff;
    color: #ffffff;
    border-radius: 5px;
    margin-top: 0.5em;
}
.button-value {
    border: 2px solid #6759ff;
    padding: 1em 2.2em;
    border-radius: 3em;
    background-color: rgba(245, 245, 245, 0.618);
    color: #6759ff;
    cursor: pointer;
}
.active {
    background-color: #6759ff;
    color: #ffffff;
}
/* Products */
#shopContainer *{
    box-sizing: border-box;
    /* outline: none; border:none; */
    text-decoration: none;
    transition: all .2s linear;
}
.shop-container{
    max-width: 1200px;
    margin:0 auto;
    padding:3rem 2rem;
 }
 
 .shop-container .title{
    font-size: 3.5rem;
    color:#444;
    margin-bottom: 3rem;
    text-align: center;
}
.hide {
    display: none;
}
.shop-container .products-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:2rem;
}
 
.shop-container .products-container .product{
    max-width: 40rem; /*Max width*/
    text-align: center;
    padding:3rem 2rem;
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    outline: .1rem solid #ccc;
    outline-offset: -1.5rem;
    cursor: pointer;
}
 
.shop-container .products-container .product:hover{
    outline: .2rem solid #222;
    outline-offset: 0;
}
 
.shop-container .products-container .product img{
    height: 25rem;
}
 
.shop-container .products-container .product:hover img{
    transform: scale(.9);
}
 
.shop-container .products-container .product h3{
    padding:.5rem 0;
    font-size: 2rem;
    color:#444;
}
 
.shop-container .products-container .product:hover h3{
    color:#27ae60;
}
 
.shop-container .products-container .product .price{
    font-size: 2rem;
    color:#444;
}
 
.products-preview{
    position: fixed;
    top:0; left:0;
    min-height: 100vh;
    width: 100%;
    /* background: rgba(0,0,0,.8); */
    backdrop-filter: blur(4px);
    display: none;
    align-items: center;
    justify-content: center;
}
 
.products-preview .preview{
    display: none;
    padding:2rem;
    border-radius: 25px;
    text-align: center;
    /* background:  #89ace3; */
    background:  rgb(172, 210, 237);
    position: relative;
    margin:2rem;
    width: 40rem;
}
 
.products-preview .preview.active{
    display: inline-block;
}
 
.products-preview .preview img{
    height: 30rem;
}
 
.products-preview .preview .fa-times{
    position: absolute;
    top:1rem; right:1.5rem;
    cursor: pointer;
    color:#ea738da7;
    font-size: 4rem;
}
 
.products-preview .preview .fa-times:hover{
    transform: rotate(90deg);
}
 
.products-preview .preview h3{
    color:#444;
    padding:.5rem 0;
    font-size: 2.5rem;
}
 
.products-preview .preview .stars{
    padding:1rem 0;
    font-size: 1.7rem;
}

.products-preview .preview .stars i{
    color:#27ae60;
}
 
.products-preview .preview .stars span{
    color:#999;
}
 
.products-preview .preview p{
    line-height: 1.5;
    padding:1rem 0;
    font-size: 1.6rem;
    color:#777;
    color: whitesmoke;
}
 
.products-preview .preview .price{
    padding:1rem 0;
    font-size: 2.5rem;
    color:#27ae60;
}
 
.products-preview .preview .buttons{
    display: flex;
    gap:1.5rem;
    flex-wrap: wrap;
    margin-top: 1rem;
}
 
.products-preview .preview .buttons a{
    flex:1 1 16rem;
    padding:1rem;
    font-size: 1.8rem;
    color:#444;
    border:.1rem solid #444;
    border-radius: 10px;
}
 
.products-preview .preview .buttons a.cart{
    background: #444;
    color:#fff;
    border-radius: 10px;
}
 
.products-preview .preview .buttons a.cart:hover{
    background: #111;
}
 
.products-preview .preview .buttons a.buy:hover{
    background: #444;
    color:#fff;
}
 
 
@media (max-width:991px){
 
    html.product-page{
       font-size: 55%;
    }
 
}
 
@media (max-width:768px){
 
    .products-preview .preview img{
       height: 25rem;
    }
    .filter {
        padding-top: 100px;
        padding-left: 10px;
    }
}
 
@media (max-width:450px){
 
    html.product-page{
       font-size: 50%;
    }
 
}

/* ========================== Cart */
 .cardCart{
    position: fixed;
    top:0;
    left: 100%;
    width: 610px;
    background:linear-gradient(0deg, #89ace382 29%, #89ace393 91.1%, #89ABE3 68%, #131a15 68.1%);
    height: 100vh;
    transition: 0.5s;
    backdrop-filter: blur(4px);
 }
 .alive .cardCart{
    left: calc(100% - 610px);
 }
 /* .alive .container{
   transform: translateX(-200px);
 } */
 .cardCart h1{
    font-weight: 100;
    margin: 0;
    padding: 0 20px;
    height: 80px;
    display: flex;
    align-items: center;
 }
 .cardCart .checkOut{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
 
 }
 .cardCart .checkOut div{
    background-color: #c5fad5a6;
    font-size: medium;
    
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
 }
 .cardCart .checkOut div:nth-child(2){
    background-color: #1C1F25;
    color: #fff;
 }
 .listcardCart li{
    display: grid;
    grid-template-columns: 100px repeat(3, 1fr);
    color: black;
    row-gap: 10px;
    font-size: medium;
 }
 .listcardCart li div{
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .listcardCart li img{
    width: 90%;
 }
 .listcardCart li button{
    padding: 0 12px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.481);
    border: none;
    cursor: pointer;
 }
 .listcardCart .count{
    margin: 0 10px;
 }


/* Services page */